body {
    margin: 30px;
}

.site-content {
    width: 60%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.table-calendar {
    table-layout: fixed;
}

.table-calendar > tbody > tr > td {
    width: 14%;
    height: 100px;
}

.calendar-event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-size: small;
    padding: 1px;
    border: 0;

}

.calendar-today {
    background: #fff683;
}

.calendar-gray {
    color: #ccc;
}

.calendar-date {
    font-size: 200%;
    font-weight: bold;
}

.event-group {
    margin-top: 10px;
}
.event-group-item {
    position: relative;
    display: block;
    /*margin-bottom: 1px;*/
    /*background-color: #aaa;*/
    /*font-size: 75%;*/
    /*font-weight: bold;*/
    /*color: #ffffff;*/
    /*border-radius: .25em;*/
    /*padding-left: .25em;*/
}

