body {
    margin: 30px;
}

.site-content {
    width: 60%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.table-calendar {
}

.table-calendar > tbody > tr > td {
    width: 14%;
    height: 100px;
}

.calendar-event {
    width: 140px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.calendar-today{
    background: #faf2cc;
}

.calendar-gray{
    color: #ccc;
}